.background-beige-belonging {
    background-color: #B7B7B7;
    position: relative;
    border-radius: 4px;
    height: 75px;
    z-index: 3;
  }

.background-blue-belonging {
    background-color: $blue;
    position: relative;
    border-radius: 4px;
    height: 75px;
    z-index: 3;
}

.background-red-belonging {
    background-color: $red;
    position: relative;
    border-radius: 4px;
    height: 75px;
    z-index: 3;
  }

.carousel-item {
    position: static;
    z-index: 1;
}

.fa-arrow-left {
    position: relative;
    font-size: 22px;
    padding-left: 22px;
    padding-top: 15px;
    z-index: 2;
}

.fa-pen-to-square {
    position: relative;
    font-size: 22px;
    padding: 15px 0 0 272px;
    z-index: 2;
}

.header-carousel {
    margin-bottom: -50px;
}

.headline-belonging {
    font-size: 20px;
}

.headline-description-belonging {
    background-color: $blue;
    color: $off-white;
    padding: 29px 30px;
    position: static;
}

.icon-status-belonging-page {
    font-size: 50px;
    bottom: 85px;
    left: 25px;
    z-index: 3;
    padding-top: 20px;
}

.image-status-belonging-page {
    border-radius: 4px;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.status-icon-overlap {
    position: relative;
    bottom: 190px;
    width: 300px;
    left: 30px; 
}