// Define variables for your color scheme
$blue: #5465ff;
$light-blue: #778bfc;
$off-white: #fdfdfd;
$dark-black: #171717;

$gray: #888;
$mid-gray: #bbb;
$light-gray: #ddd;

$red: #d14149;
$green: #007c97;
