// Define variables for your color scheme
$blue: #5465FF;
$light-blue: #778BFC;
$off-white: #FDFDFD;
$dark-black: #171717;

$gray: #888888;
$mid-gray: #BBBBBB;
$light-gray: #DDDDDD;


$red: #D14149;
$green: #007C97;
