@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

// Define fonts for body and headers
$body-font: 'Quicksand', "sans-serif";
$headers-font: 'Quicksand', "sans-serif";

h1{
  font-weight:400 ;
  font-size: 36;
}
h2{
  font-weight: 300;
  font-size: 28;
}

p{
  font-weight: 300;
  font-size: 20;
}
