.core-page-layout {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  background-color: white;
  height: 100vh;
}

.landing-page {
  background-color: $blue;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-section {
  flex: 1;
}

.user-content-page {
  overflow: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;
}
