.back-arrow {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.btn-rounded-circle-back {
  background-color: $off-white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.edit-share {
  margin-top: 95px;
}

.fa-arrow-left {
  padding: 9px 30px 10px 6px;
}

.fa-pen {
  padding: 10px 30px 10px 7px;
}

.fa-share-nodes {
  padding: 10px 30px 10px 7px;
}

.fileList{
  position: relative;
  max-width: 500px;
  margin: auto;
}
.fileInput{
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  background: $off-white;
  height: 80px;
  margin-bottom: 10px;
  position: relative;
  &:first-of-type{
    z-index: 10;
  }
  &:nth-of-type(2){
    z-index: 9;
  }
  &:nth-of-type(3){
    z-index: 8;
  }
  &:nth-of-type(4){
    z-index: 7;
  }
  &:nth-of-type(5){
    z-index: 6;
  }
  &:nth-of-type(6){
    z-index: 5;
  }
  &:nth-of-type(7){
    z-index: 4;
  }
  &:nth-of-type(8){
    z-index: 3;
  }
}

.fileList.closed .fileInput{
  &:first-of-type{
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.1), 0 10px 0 -4px #e3e3e3, 0 21px 0 -10px #cdcdcd, 0 21px 5px -8px rgba(0,0,0,0.1);
    transition: box-shadow ease 300ms;
    transition-delay: 250ms;
  }
  &:not(:first-of-type){
    animation: hideItems 1s forwards;
    animation-timing-function: ease;
  }
}

.fileList.showing .fileInput{
  &:first-of-type{
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.1);
    transition: box-shadow ease 300ms;
  }
  &:not(:first-of-type){
    animation: showItems 700ms forwards;
    animation-timing-function: ease;
  }
}

.one-notifications-container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

@keyframes hideItems{
  0%{
    margin-top: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 0;
    transform: scale(0.98);
  }
  80%{
    transform: scale(0.5);
  }
  100%{
    opacity: 0;
    transform: scale(0);
    margin-top: -25%;
  }
}
@keyframes showItems{
  100%{
    opacity: 1;
    margin-top: 0;
    transform: scale(1);
  }
  10%{
    opacity: 0;
  }
  0%{
    opacity: 0;
    transform: scale(0.95);
    margin-top: -25%;
  }
}

.image-flat-good{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius:4px ;
  border-bottom-left-radius: 4px ;
  opacity: 0.6;
  position: static;
}

.image-flat-good-icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:4px ;
  opacity: 0.6;
  position: static;
}

.background-blue {
  background-color: $blue;
  position: relative;
  border-top-left-radius:4px ;
  border-bottom-left-radius: 4px ;
}

.icon-good {
  position: relative;
  font-size: 70px;
  bottom: 100px;
  left: 14px;
}

.background-red {
  background-color: $red;
  position: relative;
  border-top-left-radius:4px ;
  border-bottom-left-radius: 4px ;
}

.background-red-icon {
  background-color: $red;
  position: relative;
  border-radius:4px ;
  height: 100px;
  width: 100px;
  margin-left: 16px;
}

.icon-replacement {
  position: relative;
  font-size: 70px;
  bottom: 100px;
  left: 40px;
}

.background-beige {
  background-color: #B7B7B7;
  position: relative;
  border-top-left-radius:4px ;
  border-bottom-left-radius: 4px ;
}

.background-beige-icon{
  background-color: #B7B7B7;
  position: relative;
  border-radius:4px ;
  height: 100px;
  width: 100px;
  margin-right: 16px;
}

.icon-repair {
  position: relative;
  font-size: 60px;
  bottom: 92px;
  left: 12px;
}

.card-belonging {
  height:110px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border:none;
}

.text-belonging {
  text-align: start;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 300;
  font-size: 20px;
}

.belonging-preview {
  margin-top: -17px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.no-border {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

.spacing-header{
  padding-left: 30px;
  padding-right: 30px;
  color: $off-white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -6px;
}

.modal-button {
  border: transparent;
  background-color: transparent;
}

#searchResults {
  height: fit-content;
  margin-bottom: 24px;
}

.card-tenant {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border:none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

input.form-control {
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
}

.selected-user {
  background-color: $light-blue;
  color: $off-white;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 8px;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-flats-show {
  margin-top: 25px;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: $light-gray;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
  color: $blue;
}

.checked-belonging {
  margin-top: 33px;
}