<div class="footer">
  <p class="footer-connect">Let's connect!</p>

  <a href="https://github.com/lewagon"><i class="fab fa-github"></i></a>
  <a href="https://www.instagram.com/lewagongermany/"><i class="fab fa-instagram"></i></a>
  <a href="https://www.facebook.com/lewagongermany/"><i class="fab fa-facebook"></i></a>
  <a href="https://de.linkedin.com/showcase/le-wagon-germany/"><i class="fab fa-linkedin"></i></a>

  <div class="footer_copyright">
    <i class="fa-regular fa-copyright" style="color: $off-white;"></i> 2023 |
    <%= image_tag "houselist_logo_font.png", alt: "houselist", id: "footer-logo", width: 70 %>
  </div>
</div>

