<p><strong>Belongings</strong></p>
<ul class="list-group">

    <li class="list-group-item">
      <%= @belonging.name %>
      <%= @belonging.description %>
      <%= @belonging.status %>
      <%= link_to "Delete",
                  flat_belongings_path(@belonging),
                  method: :delete,
                  data: {
                    turbo_confirm: "Are you sure?",
                    disable_with: "Deleting...",
                    confirm_swal: "true"
                  } %>
    </li>
</ul>
