.page-container { 
    padding: 0px 30px 80px 30px;
}

body { 
    padding: 70px 0px 0px 0px;
    min-height: 400px;
    margin-bottom: 100px;
}


html {
    position: relative;
    min-height: 100%;
}