.btn-square {
  width: 44px;
  height: 44px;
  color: $off-white;
  background-color: $blue;
  border-radius: 4px;
  border:none;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.btn-text {
  color: $off-white;
  background-color: $blue;
  border-radius: 4px;
  border:none;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding:8px;
}

.btn-text-white {
  color: $blue;
  background-color:$off-white;
  border-radius: 4px;
  border:none;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding:8px;
}

.btn-square-white{
  width: 44px;
  height: 44px;
  color: $blue;
  background-color: $off-white;
  border-radius: 4px;
  border:none;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
}
