.card-content {
  display: flex;
  flex-direction: row;

  height: fit-content;
  min-height: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border:none;
}

.side-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  i {
    padding: 10px 15px;
  }
}
