.form {
  border-radius: 4px;
  padding: 20px;
  background-color: $off-white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.custom-input{
  border: 2.5px solid #bbbbbb !important;
  border-radius: 10px;
}

.fa-chevron-down{
  margin-left: 249px;
  color: #888888;
}

.icon-settings{
  margin-top: -35px;
}


.marg{
  margin-left: 224px;
  margin-top: -65px;
}

.button{
  border: 2px solid $light-blue;
  border-radius: 10px;
  background-color: $off-white;
  color: $light-blue;
  text-align: center;
  width: 100px;
}
