.avatar {
  margin-top: 3px;
  margin-right: 20px;
  width: 60px;
}

.btn-close {
  color: $off-white;
}

.fa-solid {
  padding: 10px 30px 10px 10px;
}

hr {
  opacity: 1;
  color: $off-white;
}

.menu-icon {
  font-size: 35px;
}

.menu-item {
  font-size: 25px;
  color: $off-white;
  text-decoration: none;
}

.nav-item {
  display: flex;
}

.arrow {
  padding: 3px 0 2px 10px;
  text-decoration: none;
  font-size: 25px;
  color: $off-white;
}

.navbar {
  background: $blue;
  height: 10%;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-logo {
  display: block;
  margin-left: 45px;
  width: 50%;
}

.navbar-nav {
  color: $off-white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 2em;
}

.offcanvas {
  background: $light-blue;
}