.arrow {
  padding: 3px 0 2px 10px;
  text-decoration: none;
  font-size: 25px;
  color: $off-white;
}

.avatar {
  margin-top: 3px;
  margin-right: 20px;
  width: 60px;
}

.background-profile {
  background-color: $blue;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.btn-x-white {
  filter: invert(100%) sepia(1%) saturate(7400%) hue-rotate(203deg) brightness(116%) contrast(98%);
}

.fa-solid {
  padding: 10px 30px 10px 10px;
}

hr {
  opacity: 1;
  color: $off-white;
}

.menu-email {
  color: #FDFDFD;
  font-weight: 500;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.menu-icon {
  font-size: 35px;
}

.menu-item {
  font-size: 25px;
  color: $off-white;
  text-decoration: none;
}

.nav-item {
  display: flex;
}

.navbar {
  background: $blue;
  height: 10%;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-logo {
  display: block;
  margin-left: 45px;
  width: 50%;
}

.navbar-nav {
  color: $off-white;
  padding: 16px;
}

.navbar-toggler {
  border: none;
  color: #5465ff;
}

.navbar-toggler-icon {
  width: 2em;
}

.offcanvas {
  background: $light-blue;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas-header {
  background: $blue;
}

.offcanvas-logo {
  display: block;
  margin-left: 150px;
  width: 100px;
  margin-top: 270px;
}

.profile-pic-nav {
  border-radius: 50%;
  align-content: center;
  margin-right: 16px;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 145px;
  margin-bottom: 20px;
}